/* fonts */
.inter{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.railway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.jk{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 158px 150px;
}
.second{
    text-align: center;
    margin-bottom: 600px 267px 155px 267px;
}
.main-bg{
    width: 1440px;
    height: 700px;
    background-image: url(../Assets/Hero-bg.png);
}
.sign-up{
    color:white;
    background-color: #4E47FF;
    border-radius: 5px;
    width: 132px;
    height: 40px;
    
}
.logo-color{
    color:#4E47FF;
    font-weight: bold;
    font-size: 30px;
}
.eg{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
}
/* Starting of main  */

/* action section */
.action{
    display: flex;
    justify-content: space-around;
    margin:130px 155px 0px 141px;
    width: 1140;
    height: 328;
}
.immg{
    border-radius: 40px;
    width: 370px;
    height: 280px;
}
.action-writing{
    margin: 62px 400px 62px 0px;
    display: inline;
    
}
.see{
    font-size: 25px;
    font-weight: bold;
    color: #252432;
}
.exp{
    color: #3B3955;
    font-size: 15px;
}
.lunch{
    color:white;
    background-color: #4E47FF;
    border-radius: 5px;
    width: 229px;
    height: 45px;   
}
/* user info section */
.user-info{
    width: 900px;
    height: 306px;
    background-color: #d0d0e6;
    margin: 116px 160px 137px 140px;
    border-radius: 20px;
    padding: 50px 142px 50px 142px;
}
.number{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}
.alphabet{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
   
}
.fst{
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
    
}
.sec{
    margin-top: 0px;
    color: #5f5e5e;
}
